.App {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  text-align: center;
}

.title {
  text-decoration: underline;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.under-title {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-size: larger;
}

.dashboard-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.contact-card {
  list-style-type: none;
  border: 2px solid #333;
  border-radius: 10px;
  padding: 15px;
  margin: 10px 0;
  width: 80%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.contact-container {
  border: 2px solid #333;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  padding: 20px;
}

.highlight {
  font-weight: bold;
  color: rgb(39, 39, 218);
}

.text-box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
}

.text-box {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 15px;
}

input {
  padding: 8px;
  width: 200px;
  margin: 0 auto;
}

label {
  width: 200px;
  text-align: left;
  margin-right: 10px;
}

/* form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
} */

button {
  align-self: center;
  padding: 8px 16px;
}
